body { font-family: Arial; background:#fff3e0; }
header { background:#ef6c00; color:white; padding:15px; }
.card { background:white; width:300px; margin:30px auto; padding:20px; }
input,select { width:100%; margin:6px 0; padding:6px; }
